/* Please ❤ this if you like it! */


@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
* {
	margin: 0	;
}

body{
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 1.7;
	color: #ffffff;
	background-color: #000000;
	overflow-x: hidden;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
}
a {
	cursor: pointer;
}
a:hover {
	text-decoration: none;
}

/* #Cursor
================================================== */
.cursor,
.cursor2,
.cursor3{
	position: fixed;
	border-radius: 50%;	
	transform: translateX(-50%) translateY(-50%);
	pointer-events: none;
	left: -100px;
	top: 50%;
	mix-blend-mode: difference;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
}
.cursor{
	background-color: #fff;
	height: 0;
	width: 0;
	z-index: 99999;
}
.cursor2,.cursor3{
	height: 36px;
	width: 36px;
	z-index:99998;
	-webkit-transition:all 0.3s ease-out;
	transition:all 0.3s ease-out
}
.cursor2.hover,
.cursor3.hover{
	-webkit-transform:scale(2) translateX(-25%) translateY(-25%);
	transform:scale(2) translateX(-25%) translateY(-25%);
	border:none
}
.cursor2{
	border: 2px solid #fff;
	box-shadow: 0 0 22px rgba(255, 255, 255, 0.6);
}
.cursor2.hover{
	background: rgba(255,255,255,1);
	box-shadow: 0 0 12px rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 1200px){
	.cursor,.cursor2,.cursor3{
		display: none
	}
}

/* #Primary style
================================================== */

.section {
    position: relative;
	width: 100%;
	display: block;
}
.over-hide{
	overflow: hidden;
}
.full-height {
	height: 100vh;
}

/* #Navigation
================================================== */
.cd-header{
    position: fixed;
	width:100%;
	top:0;
	left:0;
	z-index:100;
} 
.header-wrapper{
    position: relative;
	width: calc(100% - 100px);
	margin-left: 50px;
} 
.logo-wrap {
	position: absolute;
	display:block;
	left:0;
	top: 40px;
	cursor: pointer;
}
.logo-wrap a {
	cursor: pointer;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	font-size: 20px;
	line-height: 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #fff;
	transition : all 0.3s ease-out;
}
.logo-wrap a span{ 
	color: #75ff43;
}
.logo-wrap a:hover {
	opacity: 0.9;
}
.nav-but-wrap{ 
	position: relative;
	display: inline-block;
	float: right;
	padding-left: 15px;
	padding-top: 15px;
	margin-top: 26px;
	transition : all 0.3s ease-out;
}
.menu-icon {
	height: 30px;
	width: 30px;
	position: relative;
	z-index: 2;
	cursor: pointer;
	display: block;
}
.menu-icon__line {
	height: 2px;
	width: 30px;
	display: block;
	background-color: #fff;
	margin-bottom: 7px;
	cursor: pointer;
	-webkit-transition: background-color .5s ease, -webkit-transform .2s ease;
	transition: background-color .5s ease, -webkit-transform .2s ease;
	transition: transform .2s ease, background-color .5s ease;
	transition: transform .2s ease, background-color .5s ease, -webkit-transform .2s ease;
}
.menu-icon__line-left {
	width: 16.5px;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
}
.menu-icon__line-right {
	width: 16.5px;
	float: right;
	-webkit-transition: all 200ms linear;
	-moz-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	-ms-transition: all 200ms linear;
	transition: all 200ms linear;
}
.menu-icon:hover .menu-icon__line-left,
.menu-icon:hover .menu-icon__line-right {
	width: 30px;
}
.nav {
	position: fixed;
	z-index: 98;
}
.nav:before, .nav:after {
	content: "";
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: rgba(9,9,12,1);
	border-bottom-left-radius: 200%;
	z-index: -1;
	-webkit-transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
	transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
	transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
	transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
	-webkit-transform: translateX(100%) translateY(-100%);
          transform: translateX(100%) translateY(-100%);
}
.nav:after {
	background: rgba(9,9,12,1);
	-webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.nav:before {
	-webkit-transition-delay: .2s;
          transition-delay: .2s;
}
.nav__content {
	position: fixed;
	visibility: hidden;
	top: 50%;
	margin-top: 20px;
	-webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
	width: 100%;
	text-align: center;
}
.nav__list {
	position: relative;
	padding: 0;
	margin: 0;
	z-index: 2;
}
.nav__list-item {
	position: relative;
	display: block;
	-webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
	opacity: 0;
	text-align: center;
	color: #fff;
	overflow: hidden; 
	font-family: 'Montserrat', sans-serif;
	font-size: 8vh;
	font-weight: 900;
	line-height: 1.15;
	letter-spacing: 3px;
	-webkit-transform: translate(100px, 0%);
          transform: translate(100px, 0%);
	-webkit-transition: opacity .2s ease, -webkit-transform .3s ease;
	transition: opacity .2s ease, -webkit-transform .3s ease;
	transition: opacity .2s ease, transform .3s ease;
	transition: opacity .2s ease, transform .3s ease, -webkit-transform .3s ease;
	margin-top: 0;
	margin-bottom: 0;
}
.nav__list-item a{ 
	position: relative;
	text-decoration: none;
	color: rgba(255,255,255,0.6);
	overflow: hidden; 
	cursor: pointer;
	padding-left: 5px;
	padding-right: 5px;
	font-weight: 900;
	z-index: 2;
	display: inline-block;
	text-transform: uppercase;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear; 
}
.nav__list-item a:after{ 
	position: absolute;
	content: '';
	top: 50%;
	margin-top: -2px;
	left: 50%;
	width: 0;
	height: 0;
	opacity: 0;
	background-color: #75ff43;
	z-index: 1;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear; 
}
.nav__list-item a:hover:after{ 
	height: 4px;
	opacity: 1;
	left: 0;
	width: 100%;
}
.nav__list-item a:hover{
	color: rgba(255,255,255,1);
}
.nav__list-item.active-nav a{
	color: rgba(255,255,255,1);
}
.nav__list-item.active-nav a:after{ 
	height: 4px;
	opacity: 1;
	left: 0;
	width: 100%;
}
body.nav-active .nav__content {
	visibility: visible;
}
body.nav-active .menu-icon__line {
	background-color: #fff;
	-webkit-transform: translate(0px, 0px) rotate(-45deg);
          transform: translate(0px, 0px) rotate(-45deg);
}
body.nav-active .menu-icon__line-left {
	width: 15px;
	-webkit-transform: translate(2px, 4px) rotate(45deg);
          transform: translate(2px, 4px) rotate(45deg);
}
body.nav-active .menu-icon__line-right {
	width: 15px;
	float: right;
	-webkit-transform: translate(-3px, -3.5px) rotate(45deg);
          transform: translate(-3px, -3.5px) rotate(45deg);
}
body.nav-active .menu-icon:hover .menu-icon__line-left,
body.nav-active .menu-icon:hover .menu-icon__line-right {
	width: 15px;
}
body.nav-active .nav {
	visibility: visible;
}
body.nav-active .nav:before, body.nav-active .nav:after {
	-webkit-transform: translateX(0%) translateY(0%);
          transform: translateX(0%) translateY(0%);
	border-radius: 0;
}
body.nav-active .nav:after {
	-webkit-transition-delay: .1s;
          transition-delay: .1s;
}
body.nav-active .nav:before {
	-webkit-transition-delay: 0s;
          transition-delay: 0s;
}
body.nav-active .nav__list-item {
	opacity: 1;
	-webkit-transform: translateX(0%);
          transform: translateX(0%);
	-webkit-transition: opacity .3s ease, color .3s ease, -webkit-transform .3s ease;
	transition: opacity .3s ease, color .3s ease, -webkit-transform .3s ease;
	transition: opacity .3s ease, transform .3s ease, color .3s ease;
	transition: opacity .3s ease, transform .3s ease, color .3s ease, -webkit-transform .3s ease;
}
body.nav-active .nav__list-item:nth-child(0) {
	-webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}
body.nav-active .nav__list-item:nth-child(1) {
	-webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}
body.nav-active .nav__list-item:nth-child(2) {
	-webkit-transition-delay: 0.9s;
          transition-delay: 0.9s;
}
body.nav-active .nav__list-item:nth-child(3) {
	-webkit-transition-delay: 1s;
          transition-delay: 1s;
}
body.nav-active .nav__list-item:nth-child(4) {
	-webkit-transition-delay: 1.1s;
          transition-delay: 1.1s;
}
body.nav-active .nav__list-item:nth-child(5) {
	-webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}
body.nav-active .nav__list-item:nth-child(6) {
	-webkit-transition-delay: 1.3s;
          transition-delay: 1.3s;
}
body.nav-active .nav__list-item:nth-child(7) {
	-webkit-transition-delay: 1.4s;
          transition-delay: 1.4s;
}
body.nav-active .nav__list-item:nth-child(8) {
	-webkit-transition-delay: 1.5s;
          transition-delay: 1.5s;
}
body.nav-active .nav__list-item:nth-child(9) {
	-webkit-transition-delay: 1.6s;
          transition-delay: 1.6s;
}
body.nav-active .nav__list-item:nth-child(10) {
	-webkit-transition-delay: 1.7s;
          transition-delay: 1.7s;
}

.switch-wrap {
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 10;
    transform: translateY(-50%);
	width: 100%;
	-webkit-transition: all 500ms linear;
	transition: all 500ms linear; 
	margin: 0 auto;
	text-align: center;
}
.switch-wrap h1 {
	font-weight: 900;
	font-size: 46px;
	line-height: 1;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	/* margin-bottom: 40px; */
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
}
@media screen and (max-width: 580px){
  .switch-wrap h1 {
    font-size: 32px;
  }
}
.switch-wrap p {
	font-weight: 600;
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 1;
	color: #75ff43;
	text-align: center;
	margin-top: 15px;
}
.switch-wrap p span {
	position: relative;
}
.switch-wrap p span:before {
	position: absolute;
	content: '';
	width: 100%;
	height: 2px;
	background-color: #fff;
	left: 0;
	bottom: -4px;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
}
.switch-wrap p span:nth-child(2):before {
	opacity: 0;
}
#switch,
#circle {
	cursor: pointer;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
} 
#switch {
	width: 60px;
	height: 8px;
	margin: 0 auto;
	text-align: center;
	border: 2px solid #000;
	border-radius: 27px;
	background: #75ff43;
	position: relative;
	display: inline-block;
}
#circle {
	position: absolute;
	top: -11px;
	left: -13px;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	box-shadow: 0 4px 4px rgba(26,53,71,0.25), 0 0 0 1px rgba(26,53,71,0.07);
	background: #fff;
}
.switched {
	border-color: #75ff43 !important;
	background: #000 !important;
}
.switched #circle {
	left: 43px;
	background: #000;
}


/* -------------------------- BOTÓN REDES SOCIALES -------------------------- */
.btn {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 13rem;
	height: 3rem;
	background-size: 300% 300%;
	backdrop-filter: blur(1rem);
	border-radius: 5rem;
	transition: 0.5s;
	animation: gradient_301 5s ease infinite;
	border: double 4px transparent;
	background-image: linear-gradient(#212121, #212121),  linear-gradient(137.48deg, #baff3b 10%,#53fea3 45%, #1aff00 67%, #c8ff00 87%);
	background-origin: border-box;
	background-clip: content-box, border-box;
  }
  
  #container-stars {
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	overflow: hidden;
	transition: 0.5s;
	backdrop-filter: blur(1rem);
	border-radius: 5rem;
  }
  
  strong {
	z-index: 2;
	font-size: 14px;
	letter-spacing: 5px;
	color: #FFFFFF;
	/* text-shadow: 0 0 4px white; */
  }
  
  #glow {
	position: absolute;
	display: flex;
	width: 12rem;
  }
  
  .circle {
	width: 100%;
	height: 30px;
	filter: blur(2rem);
	animation: pulse_3011 4s infinite;
	z-index: -1;
  }
  
  .circle:nth-of-type(1) {
	background: rgba(254, 83, 186, 0.636);
  }
  
  .circle:nth-of-type(2) {
	background: rgba(142, 81, 234, 0.704);
  }
  
  .btn:hover #container-stars {
	z-index: 1;
	background-color: #212121;
  }
  
  .btn:hover {
	transform: scale(1.1)
  }
  
  .btn:active {
	border: double 4px #FE53BB;
	background-origin: border-box;
	background-clip: content-box, border-box;
	animation: none;
  }
  
  .btn:active .circle {
	background: #FE53BB;
  }
  
  #stars {
	position: relative;
	background: transparent;
	width: 200rem;
	height: 200rem;
  }
  
  #stars::after {
	content: "";
	position: absolute;
	top: -10rem;
	left: -100rem;
	width: 100%;
	height: 100%;
	animation: animStarRotate 90s linear infinite;
  }
  
  #stars::after {
	background-image: radial-gradient(#ffffff 1px, transparent 1%);
	background-size: 50px 50px;
  }
  
  #stars::before {
	content: "";
	position: absolute;
	top: 0;
	left: -50%;
	width: 170%;
	height: 500%;
	animation: animStar 60s linear infinite;
  }
  
  #stars::before {
	background-image: radial-gradient(#ffffff 1px, transparent 1%);
	background-size: 50px 50px;
	opacity: 0.5;
  }
  
  @keyframes animStar {
	from {
	  transform: translateY(0);
	}
  
	to {
	  transform: translateY(-135rem);
	}
  }
  
  @keyframes animStarRotate {
	from {
	  transform: rotate(360deg);
	}
  
	to {
	  transform: rotate(0);
	}
  }
  
  @keyframes gradient_301 {
	0% {
	  background-position: 0% 50%;
	}
  
	50% {
	  background-position: 100% 50%;
	}
  
	100% {
	  background-position: 0% 50%;
	}
  }
  
  @keyframes pulse_3011 {
	0% {
	  transform: scale(0.75);
	  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}
  
	70% {
	  transform: scale(1);
	  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}
  
	100% {
	  transform: scale(0.75);
	  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
  }


  /* ---------------------------- ABOUT ME SECTION ---------------------------- */
  h2 {
	font-weight: 900;
	font-size: 64px;
	margin-bottom: 0px;
	margin-top: 0;
	color: rgb(31, 31, 31);
  }

  p {
	margin: 0;
  }

  .footer1{
	width: 100%;
	display:flex;
	justify-content: center;
	/* background-color: #00ff08; */
  }

  .footer2 {
	background-color: rgba(239, 239, 239, 0.6);
	border: 6px solid rgb(201, 201, 201);
	border-radius: 50px;
	padding: 50px;
	text-align: center;
	color: #000;
	width: 70%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 10%;
	/* height: 100vw; */
}

.about_me {
	display: flex;
	align-items:center;
	background-image: linear-gradient(to bottom right, lime,rgb(107, 252, 184));
	width: 90vw;
	border-radius: 50px;
	border: 7px solid rgb(179, 179, 179);
	/* flex-direction: column; */
}

.about_foto {
	width: 400px;
	border-radius: 50px;
	border: 4px solid lime;
	margin-right: 30px;
}

.socialIcons {
	display: flex;
	gap: 2rem;
}

.fa-html5,
.fa-css3-alt,
.fa-js,
.fa-react,
.fa-vuejs,
.fa-bootstrap,
.fa-figma
{
	transition: color 0.3s ease-in-out;
}

.fa-html5:hover {
	color: #f48f01;
}

.fa-css3-alt:hover {
	color: aqua;
}

.fa-js:hover {
	color: #fbff00;
}

.fa-react:hover {
 color:aqua;
}

.fa-vuejs:hover {
	color: #00ff08;
}

.fa-bootstrap:hover {
color: #FE53BB;
}

.fa-figma:hover {
	color: darkorchid;
}

.footer {
	background-color: #00ff08;
	padding: 20px;
	text-align: center;
	color: #000;
}


/* -------------------------------- EDUCATION ------------------------------- */

.education_container {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.education_container img {
	width: 150px;
	height: 130px;
	border-radius: 10px;
	border: 7px solid rgb(255, 255, 255);
}


/* --------------------------- HARD SKILLS BUTTON --------------------------- */
.hard-skills {
	position: relative;
	padding: 12px 35px;
	background: transparent;
	font-size: 17px;
	text-transform: uppercase;
	font-weight: 900;
	color: #dadada;
	border: 3px solid #131313;
	border-radius: 8px;
	-webkit-box-shadow: 0 0 0 #48ff008c;
			box-shadow: 0 0 0 #0dff008c;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
  }
  
  .star-1 {
	position: absolute;
	top: 20%;
	left: 20%;
	width: 25px;
	height: auto;
	-webkit-filter: drop-shadow(0 0 0 #fffdef);
			filter: drop-shadow(0 0 0 #fffdef);
	z-index: -5;
	-webkit-transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
	transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
  }
  
  .star-2 {
	position: absolute;
	top: 45%;
	left: 45%;
	width: 15px;
	height: auto;
	-webkit-filter: drop-shadow(0 0 0 #fffdef);
			filter: drop-shadow(0 0 0 #fffdef);
	z-index: -5;
	-webkit-transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
	transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-3 {
	position: absolute;
	top: 40%;
	left: 40%;
	width: 5px;
	height: auto;
	-webkit-filter: drop-shadow(0 0 0 #fffdef);
			filter: drop-shadow(0 0 0 #fffdef);
	z-index: -5;
	-webkit-transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
	transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-4 {
	position: absolute;
	top: 20%;
	left: 40%;
	width: 8px;
	height: auto;
	-webkit-filter: drop-shadow(0 0 0 #fffdef);
			filter: drop-shadow(0 0 0 #fffdef);
	z-index: -5;
	-webkit-transition: all .8s cubic-bezier(0, 0.4, 0, 1.01);
	transition: all .8s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-5 {
	position: absolute;
	top: 25%;
	left: 45%;
	width: 15px;
	height: auto;
	-webkit-filter: drop-shadow(0 0 0 #fffdef);
			filter: drop-shadow(0 0 0 #fffdef);
	z-index: -5;
	-webkit-transition: all .6s cubic-bezier(0, 0.4, 0, 1.01);
	transition: all .6s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-6 {
	position: absolute;
	top: 5%;
	left: 50%;
	width: 5px;
	height: auto;
	-webkit-filter: drop-shadow(0 0 0 #fffdef);
			filter: drop-shadow(0 0 0 #fffdef);
	z-index: -5;
	-webkit-transition: all .8s ease;
	transition: all .8s ease;
  }
  
  .hard-skills:hover {
	background: transparent;
	color: #37ff00;
	-webkit-box-shadow: 0 0 25px #33ff008c;
			box-shadow: 0 0 25px #11ff008c;
  }
  
  .hard-skills:hover .star-1 {
	position: absolute;
	top: -80%;
	left: -30%;
	width: 25px;
	height: auto;
	-webkit-filter: drop-shadow(0 0 10px #fffdef);
			filter: drop-shadow(0 0 10px #fffdef);
	z-index: 2;
  }
  
  .hard-skills:hover .star-2 {
	position: absolute;
	top: -25%;
	left: 10%;
	width: 15px;
	height: auto;
	-webkit-filter: drop-shadow(0 0 10px #fffdef);
			filter: drop-shadow(0 0 10px #fffdef);
	z-index: 2;
  }
  
  .hard-skills:hover .star-3 {
	position: absolute;
	top: 55%;
	left: 25%;
	width: 5px;
	height: auto;
	-webkit-filter: drop-shadow(0 0 10px #fffdef);
			filter: drop-shadow(0 0 10px #fffdef);
	z-index: 2;
  }
  
  .hard-skills:hover .star-4 {
	position: absolute;
	top: 30%;
	left: 80%;
	width: 8px;
	height: auto;
	-webkit-filter: drop-shadow(0 0 10px #fffdef);
			filter: drop-shadow(0 0 10px #fffdef);
	z-index: 2;
  }
  
  .hard-skills:hover .star-5 {
	position: absolute;
	top: 25%;
	left: 115%;
	width: 15px;
	height: auto;
	-webkit-filter: drop-shadow(0 0 10px #fffdef);
			filter: drop-shadow(0 0 10px #fffdef);
	z-index: 2;
  }
  
  .hard-skills:hover .star-6 {
	position: absolute;
	top: 5%;
	left: 60%;
	width: 5px;
	height: auto;
	-webkit-filter: drop-shadow(0 0 10px #fffdef);
			filter: drop-shadow(0 0 10px #fffdef);
	z-index: 2;
  }
  
  .fil0 {fill:#FFFDEF}


  /* -------------------------------- PORTFOLIO SECTION -------------------------------- */
  